* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.menu-bar {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 60px;
  background-color: rgba(20, 20, 20, 0.85);
}

.menu-bar > .branding {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0 12px;
  color: white;
  font-size: 30px;
}

.menu-bar > .branding > img {
  margin-right: 8px;
}

.menu-bar > .item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: fit-content;
  padding: 12px;
  margin-right: 12px;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: rgba(20, 20, 20, 0.5);
  font-size: 16px;
}

.menu-bar > .item:hover {
  box-shadow: 0 0 8px rgb(255, 253, 112), 0 0 8px rgba(0, 0, 0, 0.2);
}

.item > img {
  margin-left: 8px;
}

.content {
  padding: 60px 0;
}

.drum {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-items: stretch;
  width: 98%;
}

.drum-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 8px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(14, 14, 14, 0.2);
  transition: all 0.08s ease;
}

.drum-card:hover {
  box-shadow: 0 0 8px rgb(255, 253, 112), 0 0 8px rgba(0, 0, 0, 0.2);
}

.card-header {
  font-size: 48px;
  color: white;
  background-color: black;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  border-radius: 10px 10px 0 0;
}

.card-content {
  padding: 12px 0;
  text-transform: uppercase;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message-box {
  border: rgba(7, 7, 7, 0.822) solid 1px;
  border-radius: 10px;
  width: 60%;
  min-height: 360px;
  margin: 48px 0;
  box-shadow: 0 4px 8px 0 rgba(14, 14, 14, 0.2);
}

.message-box > .header {
  width: 100%;
  min-height: 100px;
}

.message-box > .message {
  width: 100%;
  min-height: 260px;
}

#key-display {
  font-size: 164px;
  padding: 0 30px;
  border-radius: 32px;
  color: rgb(0, 0, 0);
  transition: all 0.2s ease;
}

.normal {
  box-shadow: 0 2px 48px 0 rgb(0, 119, 255);
}

.right {
  box-shadow: 0 2px 48px 0 rgb(0, 156, 21);
}

.wrong {
  box-shadow: 0 2px 48px 0 rgb(255, 30, 0);
}

.mini-display {
  padding: 20px;
  color: white;
  margin: 0 10px;
  background-color: rgb(36, 32, 32);
  border: none;
  border-radius: 10px;
  font-size: 18px;
}

input[type="text"]:disabled {
  background-color: white;
  border: none;
  font-size: 24px;
  border-radius: 4px;
  margin-left: 12px;
}

.playing {
  box-shadow: 0px 0px 27px 5px rgba(0, 238, 255, 1);
  transform: scale(1.2);
}
